<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= wiki_title_from_name @item.identifier %> - ShefESH Wiki</title>
    <link rel="stylesheet" href="/style/brand.css">
    <link rel="stylesheet" href="/style/layout-wikipage.css">
</head>
<body>
    <header>
        <%= render "/partial/header.erb" %>
    </header>
    </a>
    <main>
        <nav class="wiki-sidenav">
            <h2><%= wiki_title_from_name @item.identifier.components[-2] %></h2>
            <%= wiki_list_section @item.identifier.components[1..-2].join("/") %>
        </nav>
        <article>
            <h1><%= wiki_title_from_name @item.identifier %></h1>
            <%= yield %>
        </article>
    </main>
    <footer>
    <%= render "/partial/footer.erb" %>
    </footer>
</body>
</html>
